@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Zilla Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Zilla Slab'), local('ZillaSlab-Regular'), url(https://fonts.gstatic.com/s/zillaslab/v5/dFa6ZfeM_74wlPZtksIFajo6-A.ttf) format('truetype');
}
/*
  http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Zilla Slab', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
h2 {
  font-size: 5.5rem;
}
h3 {
  font-size: 4rem;
}
h4 {
  font-size: 3rem;
}
p,
ul,
li {
  font-size: 2rem;
}
p,
a,
ul,
li {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
a.button {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #FF7200;
  padding: 0.8rem 1.8rem;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5rem;
}
.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.header .navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
.header .navigation ul a {
  color: #02182B;
  display: block;
  padding: 20px;
  font-size: 1rem;
  text-decoration: none;
}
.header .navigation ul a:hover {
  background-color: #ddd;
}
.header .site-branding {
  float: left;
  display: block;
  font-size: 2em;
  padding: 10px 20px;
}
.header .menu-icon {
  padding: 28px 20px;
  position: relative;
  float: right;
  cursor: pointer;
}
.header .menu-icon .nav-icon {
  background: #02182B;
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
  transition: background 0.2s ease-out;
}
.header .menu-icon .nav-icon:before {
  background: #02182B;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  top: 5px;
}
.header .menu-icon .nav-icon:after {
  background: #02182B;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  top: -5px;
}
.header .menu-button {
  display: none;
}
.header .menu-button:checked ~ .navigation {
  max-height: 240px;
}
.header .menu-button:checked ~ .menu-icon .nav-icon {
  background: transparent;
}
.header .menu-button:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top: 0;
}
.header .menu-button:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top: 0;
}
@media (min-width: 48em) {
  .header {
    display: flex;
    align-items: center;
  }
  .header .navigation {
    clear: none;
    max-height: none;
    margin-left: auto;
  }
  .header .navigation li {
    float: left;
  }
  .header .navigation li a {
    padding: 20px 30px;
  }
  .header .menu-icon {
    display: none;
  }
}
.logo {
  font-weight: bold;
  letter-spacing: -1px;
  color: black;
  font-size: 35px;
}
.logo a {
  color: #000000;
  text-decoration: none;
  font-family: 'Zilla Slab', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
.logo a .logo-center {
  color: #FF6700;
}
.logo .tagline {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0px;
  margin-top: -2px;
  margin-left: 3.5px;
}
.logo .logo-image {
  background-image: url("../images/saltyone.jpg");
  background-size: cover;
  height: 42px;
  width: 50px;
  float: left;
  top: 0.9rem;
  left: 15.1rem;
  position: absolute;
}
section.section-spotlight {
  background: url("../images/disappointed-elderly-facepalm-23180.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center center;
  background-position-y: -80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 600px) {
  section.section-spotlight {
    background-size: contain;
  }
}
section.section-spotlight:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}
section.section-spotlight .spotlight-lead {
  text-align: center;
  z-index: 10;
}
section.section-spotlight .spotlight-lead h2.spotlight-title {
  margin-bottom: 10px;
  color: #FF7200;
  text-outline: 1px 1px #ffffff;
}
@media screen and (max-width: 600px) {
  section.section-spotlight .spotlight-lead h2.spotlight-title {
    font-size: 2.5rem;
  }
}
section.section-spotlight .spotlight-lead h3.spotlight-subtitle {
  color: #FEFFFE;
  font-size: 3rem;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
@media screen and (max-width: 600px) {
  section.section-spotlight .spotlight-lead h3.spotlight-subtitle {
    font-size: 2.5rem;
  }
}
section.section-spotlight .spotlight-image {
  overflow: hidden;
  width: 30%;
  order: -1;
}
section.section-spotlight .spotlight-image img {
  width: 100%;
  height: auto;
}
section.section-spotlight span {
  z-index: 10;
  display: block;
  margin-top: 35px;
}
section.section-spotlight span a.button-spotlight {
  z-index: 11;
}
section.section-about {
  background: url("../images/madbrobackground.jpg");
  background-size: cover;
  background-position-y: 8rem;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
section.section-about:before {
  content: "";
  position: absolute;
  top: auto;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.8);
}
section.section-about h2 {
  text-align: center;
  width: 100%;
  margin: 7rem 0 2rem;
  z-index: 10;
  height: 5.5rem;
}
section.section-about .column {
  z-index: 10;
  display: flex;
}
section.section-about .column .col {
  width: 42%;
  padding: 0 2%;
}
section.section-about .column .col.col-l {
  width: 16%;
}
section.section-about .column .col.col-l img.product-image {
  height: 80%;
  width: auto;
}
section.section-about .column .col p {
  margin-bottom: 30px;
}
section.section-about .column .col ul {
  list-style: square;
}
section.section-about .column .col ul li {
  margin-bottom: 5px;
}
section.section-about span {
  width: 100%;
  z-index: 10;
  margin-top: 2rem;
  display: flex;
}
section.section-about span a.button-about {
  z-index: 11;
}
section.section-samples {
  height: 94vh;
  background: #02182B;
}
@media screen and (max-width: 600px) {
  section.section-samples {
    height: 140em;
  }
}
section.section-samples .grid {
  padding-top: 40px;
  display: flex;
  width: 100%;
  height: 78vh;
  justify-content: space-evenly;
}
@media screen and (max-width: 600px) {
  section.section-samples .grid {
    flex-direction: column;
    align-items: center;
    height: 95%;
  }
}
section.section-samples .grid .card {
  padding: 10px;
}
section.section-samples .grid .sample-img {
  width: 100%;
  height: auto;
}
section.section-samples span {
  display: flex;
  justify-content: space-around;
  background: #02182B;
}
