@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Zilla Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Zilla Slab'), local('ZillaSlab-Regular'), url(https://fonts.gstatic.com/s/zillaslab/v5/dFa6ZfeM_74wlPZtksIFajo6-A.ttf) format('truetype');
}
/*
  http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Zilla Slab', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
h2 {
  font-size: 5.5rem;
}
h3 {
  font-size: 4rem;
}
h4 {
  font-size: 2.25rem;
}
p,
ul,
li {
  font-size: 2rem;
}
p,
a,
ul,
li {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
a.button {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #FF7200;
  padding: 0.8rem 1.2rem;
  cursor: pointer;
  margin: 0 10px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5rem;
}
a.button:hover {
  background-color: #ff801a;
}
a.link {
  color: #ffffff;
  text-decoration: none;
}
body #main-wrapper.main-wrapper {
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
}
.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.header .navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
.header .navigation ul a {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #02182B;
  display: block;
  padding: 20px;
  font-size: 1rem;
  text-decoration: none;
}
.header .navigation ul a:hover {
  background-color: #FF7200;
  color: #FEFFFE;
}
.header .menu-icon {
  padding: 34px 24px;
  position: relative;
  float: right;
  cursor: pointer;
}
.header .menu-icon .nav-icon {
  background: #02182B;
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
  transition: background 0.2s ease-out;
}
.header .menu-icon .nav-icon:before {
  background: #02182B;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  top: 5px;
}
.header .menu-icon .nav-icon:after {
  background: #02182B;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  top: -5px;
}
.header .menu-button {
  display: none;
}
.header .menu-button:checked ~ .navigation {
  max-height: 240px;
}
.header .menu-button:checked ~ .menu-icon .nav-icon {
  background: transparent;
}
.header .menu-button:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top: 0;
}
.header .menu-button:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top: 0;
}
@media (min-width: 801px) and (max-width: 1000px) {
  .header {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .header .navigation {
    width: 100%;
    clear: none;
    max-height: none;
    margin-left: auto;
  }
  .header .navigation ul {
    display: flex;
  }
  .header .navigation ul li {
    width: 25%;
  }
  .header .navigation ul li a {
    width: auto;
    text-align: center;
  }
  .header .menu-icon {
    display: none;
  }
}
@media (min-width: 1001px) {
  .header {
    display: flex;
    align-items: center;
  }
  .header .navigation {
    clear: none;
    max-height: none;
    margin-left: auto;
  }
  .header .navigation ul {
    padding-right: 6px;
  }
  .header .navigation ul li {
    float: left;
  }
  .header .navigation ul li a {
    padding: 20px 30px;
    cursor: pointer;
  }
  .header .navigation ul li a:focus {
    border-bottom: #FF7200;
  }
  .header .menu-icon {
    display: none;
  }
}
.site-branding {
  float: left;
  display: flex;
  align-items: center;
  font-size: 2em;
  padding: 10px 20px;
  width: 270px;
  background: #FFF;
}
.site-branding .logo {
  font-weight: bold;
  letter-spacing: -1px;
  color: black;
  font-size: 35px;
  margin-top: -2px;
}
.site-branding .logo a {
  color: #000000;
  text-decoration: none;
  font-family: 'Zilla Slab', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
.site-branding .logo a .logo-center {
  color: #FF6700;
}
.site-branding .logo .tagline {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0px;
  margin-top: -2px;
  margin-left: 3.5px;
}
.site-branding .logo-image {
  background-image: url("../images/saltyone.jpg");
  background-size: cover;
  height: 46px;
  width: 50px;
  order: -1;
  margin-right: 10px;
}
main.main-content section {
  overflow: hidden;
}
footer {
  background-color: #02182B;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3.5rem;
}
@media screen and (max-width: 600px) {
  footer {
    padding: 3.5rem 0;
  }
}
footer p {
  font-size: 1.25rem;
  color: #FEFFFE;
}
footer p a {
  color: #FEFFFE;
  text-decoration: none;
}
footer p a span {
  border-bottom: 2px dashed #FF7200;
}
footer p a:hover {
  color: #FF7200;
}
footer p a:hover span {
  border-bottom: 1px solid #FF7200;
}
footer span {
  margin-top: 0.65rem;
}
footer span a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer span a:before {
  content: "";
  width: 0;
  height: 0;
  display: inline-block;
  border: 0.55rem solid transparent;
  border-bottom-color: #FEFFFE;
  margin-bottom: 8px;
}
footer span a:hover {
  color: #dddddd;
}
section.section-spotlight {
  height: 100vh;
  background: url("../images/disappointed-elderly-facepalm-23180.jpg") no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 600px) {
  section.section-spotlight {
    background-position-y: 0;
  }
}
section.section-spotlight:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}
section.section-spotlight .spotlight-lead {
  text-align: center;
  z-index: 10;
  padding: 0 1rem;
  width: 65%;
}
@media screen and (max-width: 1100px) {
  section.section-spotlight .spotlight-lead {
    width: 80%;
  }
}
section.section-spotlight .spotlight-lead h2.spotlight-title {
  padding-bottom: 1.5rem;
  color: #FF7200;
  text-shadow: 0 0 5px #000000;
  text-outline: 1px 1px #ffffff;
  line-height: 0.8;
}
@media screen and (max-width: 1000px), screen and (max-width: 600px) {
  section.section-spotlight .spotlight-lead h2.spotlight-title {
    font-size: 3rem;
  }
}
section.section-spotlight .spotlight-lead h3.spotlight-subtitle {
  color: #FEFFFE;
  font-size: 3rem;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
@media screen and (max-width: 1000px), screen and (max-width: 600px) {
  section.section-spotlight .spotlight-lead h3.spotlight-subtitle {
    font-size: 2rem;
  }
}
section.section-spotlight .spotlight-image {
  overflow: hidden;
  width: 30%;
  order: -1;
}
section.section-spotlight .spotlight-image img {
  width: 100%;
  height: auto;
}
section.section-spotlight .spotlight-subsection {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  margin-top: 20px;
}
@media screen and (max-width: 600px) {
  section.section-spotlight .spotlight-subsection {
    width: 100%;
  }
}
section.section-spotlight .spotlight-subsection h3 {
  color: #FF7200;
  font-size: 3rem;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
@media screen and (max-width: 600px) {
  section.section-spotlight .spotlight-subsection h3 {
    font-size: 2rem;
  }
}
section.section-spotlight .spotlight-subsection .spotlight-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.section-spotlight span {
  z-index: 10;
  display: block;
  margin-top: 3.5rem;
}
section.section-spotlight span a.button-spotlight {
  z-index: 11;
  margin: 0 4px;
}
section.section-about {
  background: url("../images/madbrobackground.jpg");
  background-size: cover;
  background-position-y: 8rem;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 600px) {
  section.section-about {
    padding-top: 3rem;
  }
}
section.section-about:before {
  content: "";
  position: absolute;
  top: auto;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.87);
}
section.section-about h2 {
  text-align: center;
  width: 100%;
  margin: 7.5rem 0 2rem;
  z-index: 10;
  height: 5.5rem;
}
@media screen and (max-width: 1000px) {
  section.section-about h2 {
    margin-top: 7.5rem;
  }
}
@media screen and (max-width: 700px) {
  section.section-about h2 {
    font-size: 50px;
    height: 3rem;
    margin-top: 7.5rem;
  }
}
@media screen and (max-width: 600px) {
  section.section-about h2 {
    margin-top: 4.5rem;
  }
}
section.section-about .column {
  z-index: 10;
  display: flex;
  height: 60vh;
}
@media screen and (max-width: 1000px) {
  section.section-about .column {
    height: 50vh;
  }
}
@media screen and (max-width: 690px) {
  section.section-about .column {
    height: 26rem;
    flex-direction: column;
  }
}
section.section-about .column .col {
  width: 50%;
  padding: 0 2%;
}
@media screen and (max-width: 1000px), screen and (max-width: 600px) {
  section.section-about .column .col {
    padding: 2rem;
  }
}
@media screen and (max-width: 700px) {
  section.section-about .column .col {
    width: 100%;
  }
}
@media screen and (max-width: 690px) {
  section.section-about .column .col {
    width: auto;
  }
}
section.section-about .column .col.col-product {
  width: 500px;
}
@media screen and (max-width: 1000px), screen and (max-width: 600px) {
  section.section-about .column .col.col-product {
    display: none;
  }
}
section.section-about .column .col.col-product img.product-image {
  height: 500px;
  width: auto;
}
@media screen and (max-width: 1000px), screen and (max-width: 600px) {
  section.section-about .column .col.col-product img.product-image {
    display: none;
  }
}
section.section-about .column .col p {
  margin-bottom: 30px;
  line-height: normal;
}
@media screen and (max-width: 700px) {
  section.section-about .column .col p {
    font-size: 20px;
  }
}
section.section-about .column .col p a {
  color: #02182B;
  text-decoration: none;
}
section.section-about .column .col p a span {
  border-bottom: 2px dashed #FF7200;
  width: auto;
  margin: 0;
  display: inherit;
}
section.section-about .column .col p a:hover {
  color: #FF7200;
}
section.section-about .column .col p a:hover span {
  border-bottom: 1px solid #FF7200;
}
section.section-about .column .col ul {
  list-style: square;
  margin-left: 25px;
}
section.section-about .column .col ul li {
  margin-bottom: 5px;
}
@media screen and (max-width: 700px) {
  section.section-about .column .col ul li {
    font-size: 20px;
  }
}
section.section-about span {
  width: 100%;
  z-index: 10;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 700px) {
  section.section-about span {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
section.section-about span a.button-about {
  z-index: 11;
}
@media screen and (max-width: 785px) {
  section.section-about span a.button-about {
    margin-bottom: 4px;
  }
}
.about-nav {
  width: 100%;
  justify-content: space-between;
}
.about-nav .about-nav-links {
  width: auto;
  background: white;
  margin-right: 10px;
  display: flex;
  justify-content: flex-end;
}
.about-nav .about-nav-links a {
  text-decoration: none;
  padding: 20px;
}
.about-nav .about-nav-links a:hover {
  background: #FF7200;
  color: white;
}
.about-container {
  padding-top: 30px;
  padding-left: 50px;
  width: 100%;
  background: grey;
}
.about-container h1 {
  padding-top: 100px;
  width: 92%;
  text-align: center;
  font-size: 60px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, 'Zilla Slab';
  color: whitesmoke;
}
@media screen and (max-width: 600px) {
  .about-container h1 {
    font-size: 40px;
    width: 78%;
  }
}
.about-container .team-section {
  margin-top: 30px;
  margin-right: 100px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
}
@media screen and (max-width: 600px) {
  .about-container .team-section {
    align-items: space-between;
    padding: 0px;
  }
}
.about-container .team-section .team-card {
  background: #FF7200;
  width: 400px;
  height: auto;
  padding: 20px;
  margin-bottom: 20px;
  border: 3px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: flex-start;
}
.about-container .team-section .team-card .tCard-top {
  display: flex;
  justify-content: space-around;
}
.about-container .team-section .team-card .tCard-top .member-name {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-items: flex-start;
  align-items: center;
}
.about-container .team-section .team-card .tCard-top .member-name h1 {
  font-size: 20px;
  padding: 15px;
  color: whitesmoke;
}
.about-container .team-section .team-card .tCard-top .member-name h2 {
  font-size: 18px;
  color: whitesmoke;
}
.about-container .team-section .team-card .tCard-top .member-img {
  width: 45%;
  border-radius: 10%;
  height: auto;
}
.about-container .team-section .team-card ul {
  width: 100%;
}
.about-container .team-section .team-card ul li a {
  text-decoration: none;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, 'Zilla Slab';
  color: whitesmoke;
}
.about-container .team-section .team-card ul li .soc-logo {
  width: 20px;
  height: auto;
}
.about-container .team-section .team-card ul li .soc-logo.git-logo {
  border-radius: 30%;
}
section.section-samples {
  height: 100%;
  background: #CC2936;
  padding-bottom: 3rem;
}
@media screen and (max-width: 1000px), screen and (max-width: 600px) {
  section.section-samples {
    height: 100%;
  }
}
@media screen and (max-width: 600px) {
  section.section-samples {
    padding-bottom: 2.5rem;
  }
}
section.section-samples .grid {
  padding-top: 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
section.section-samples .grid .card {
  padding: 20px 10px;
}
section.section-samples .grid .card .sample-img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 1000px) {
  section.section-samples .grid .card {
    flex-basis: 47%;
  }
}
section.section-samples span {
  width: 100%;
  z-index: 10;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 700px) {
  section.section-samples span {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  section.section-samples span {
    margin-top: 2rem;
  }
}
