// GLOBALS

body {
  //overflow-y: hidden;
}
html {
  scroll-behavior: smooth;
}
h1, h2, h3, h4, h5, h6 {
  font-family: @font-slab, @font-family;
}
h2 {
  font-size: 5.5rem;
}
h3 {
  font-size: 4rem;
}
h4 {
  font-size: 2.25rem;
}
p, ul, li  {
  font-size: 2rem;
}
p, a, ul, li {
  font-family: @font-sans, @font-family;
}
a {
  &.button {
    .btn(@primary-color);
    .link(#ffffff);
    font-size: 1.5rem;
    &:hover {
      .hover(@primary-color);
    }
  }
  &.link {
    .link(#ffffff);
  }
}