// MIXINS

.nIN() {
  background: @dark-color;
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
  transition: background .2s ease-out;
}
.nINm() {
  background: @dark-color;
  content:"";
  display:block;
  height:100%;
  width:100%;
  position:absolute;
  transition:all .2s ease-out;
}
.br(@size) {
  -moz-border-radius: @size;
  -webkit-border-radius: @size;
  border-radius: @size;
}
.btn(@color) {
  .br(2px);
  background-color: @color;
  padding: 0.8rem 1.8rem;
}