// COLORS
@primary-color:       #FF7200;
@accent-color:        #02182B;
@alert-color:         #CC2936;
@bg-color:            #FFFFFF;
@bg-accent-color:     #FEFFFE;

// FONTS
@font-family:         -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
@font-slab:           'Zilla Slab';
@font-sans:           'Roboto';
