// ABOUT

section {
  &.section-about {
    background: url("../images/madbrobackground.jpg");
    background-size: cover;
    background-position-y: 8rem;
    // height: 100vh; changed per < full height broke section
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    &:before {
      content: "";
      position: absolute;
      top: auto;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 10;
      background-color: rgba(255, 255, 255, 0.8);
    }
    h2 {
      text-align: center;
      width: 100%;
      margin: 7rem 0 2rem;
      z-index: 10;
      height: 5.5rem;
      @media screen and (max-width: 600px) {
        font-size: 50px;
        margin-top: 70px;
        height: 3rem;
      }
    }
    .column {
      z-index: 10;
      display: flex;
      @media screen and (max-width: 600px) {
        height: 35rem;
      }
      .col {
        width: 42%;
        padding: 0 2%;
        @media screen and (max-width: 600px) {
          width: 100%;
        }
        &.col-l {
          width: 16%;
          @media screen and (max-width: 600px) {
            width: 5%;
          }
          img {
            &.product-image {
              height: 80%;
              width: auto;
              @media screen and (max-width: 600px) {
                display: none;
              }
            }
          }
        }
        p {
          margin-bottom: 30px;
          @media screen and (max-width: 600px) {
            font-size: 20px;
          }
        }
        ul {
          list-style: square;
          li {
            margin-bottom: 5px;
            @media screen and (max-width: 600px) {
              font-size: 20px;
            }
          }
        }
      }
    }
    span {
      width: 100%;
      z-index: 10;
      margin-top: 2rem;
      display: flex;
      a {
        &.button-about {
          z-index: 11;
        }
      }
    }
  }
}