// ABOUT

section {
  &.section-about {
    background: url("../images/madbrobackground.jpg");
    background-size: cover;
    background-position-y: 8rem;
     height: 100vh;
    //height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: 600px) {
      padding-top: 3rem;
    }
    &:before {
      content: "";
      position: absolute;
      top: auto;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 10;
      background-color: rgba(255, 255, 255, 0.87);
    }
    h2 {
      text-align: center;
      width: 100%;
      margin: 6rem 0 2rem;
      z-index: 10;
      height: 5.5rem;
      @media screen and (max-width: 700px) {
        font-size: 50px;
        height: 3rem;
      }
      @media screen and (max-width: 600px) {
        margin-top: 4.5rem;
      }
      @media screen and (max-width: 1000px) {
        margin-top: 8.5rem;
      }
    }
    .column {
      z-index: 10;
      display: flex;
      height: 60vh;
      @media screen and (max-width: 1000px) {
        height: 50vh;
      }
      @media screen and (max-width: 690px) {
        height: 28rem;
        flex-direction: column;
      }
      @media screen and (max-width: 600px) {
        height: auto;
      }
      .col {
        width: 50%;
        padding: 0 2%;
        @media screen and (max-width: 700px) {
          width: auto;
        }
        @media screen and (max-width: 1000px),
        screen and (max-width: 600px) {
          padding: 2rem;
        }
        &.col-product {
          width: 500px;
          @media screen and (max-width: 1000px),
          screen and (max-width: 600px) {
            display: none;
          }
          img {
            &.product-image {
              height: 500px;
              width: auto;
              @media screen and (max-width: 1000px),
              screen and (max-width: 600px) {
                display: none;
              }
            }
          }
        }
        p {
          margin-bottom: 30px;
          @media screen and (max-width: 700px) {
            font-size: 20px;
          }
        }
        ul {
          list-style: square;
          margin-left: 25px;
          li {
            margin-bottom: 5px;
            @media screen and (max-width: 700px) {
              font-size: 20px;
            }
          }
        }
      }
    }
    span {
      .span();
      a {
        &.button-about {
          z-index: 11;
          @media screen and (max-width: 785px) {
            margin-bottom: 4px;
          }
        }
      }
    }
  }
}


// About page 

.about-nav {
  width: 100%;
  justify-content: space-between;
  .about-nav-links {
    width: auto;
    background: white;
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
    a {
      text-decoration: none;
      padding: 20px;
      &:hover {
        background: @primary-color;
        color: white;
      }
    }
  }

}

.about-container {
  padding-top: 30px;
  padding-left: 50px;
  width: 100%;
  background: grey;
    h1 {
      // background: lightblue;
      padding-top: 100px;
      width: 92%;
      text-align: center;
      font-size: 60px;
      font-family: @font-family, @font-slab;
      color: whitesmoke;
      @media screen and (max-width: 600px) {
        font-size: 40px;
        // background: grey;
        width: 78%;        
      }
    }
  .team-section {
    margin-top: 30px;
    margin-right: 100px;
    height: 100%;
    // background: green;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    @media screen and (max-width: 600px) {
      align-items: space-between;
      padding: 0px;
    }
    .team-card {
      background: @primary-color;
      width: 30%;
      height: 30vh;
      width:300px;
      padding: 20px;
      margin-bottom: 20px;
      border: 3px solid white;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .tCard-top {
        display: flex;
        justify-content: space-around;
        // background: yellow;
      .member-name {
        // background: grey;
        display: flex;
        width: 50%;
        flex-direction: column;
        justify-items: flex-start;
        align-items: center;
        h1 {
          font-size: 20px;
          padding: 15px;
          color: whitesmoke;
          // margin: 0;
        }
        h2 {
          font-size: 18px;
          color: whitesmoke;
        }
      }
        .member-img {
          width: 45%;
          // width: 10vw;
          border-radius: 10%;
          height: auto;
        }
      }

      ul {
        width: 100%;
        // background: pink;
        li {
          a {
            text-decoration: none;
            font-size: 20px;
            font-family: @font-family, @font-slab;
            color: whitesmoke;
          }
          .soc-logo {
            width: 20px;
            height: auto;
          }
        }
      }
    }
  }
}