// ABOUT

section {
  &.section-about {
    background: url("../images/madbrobackground.jpg");
    background-size: cover;
    background-position-y: 8rem;
     height: 100vh;
    //height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: 600px) {
      padding-top: 3rem;
    }
    &:before {
      content: "";
      position: absolute;
      top: auto;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 10;
      background-color: rgba(255, 255, 255, 0.87);
    }
    h2 {
      text-align: center;
      width: 100%;
      margin: 6rem 0 2rem;
      z-index: 10;
      height: 5.5rem;
      @media screen and (max-width: 600px) {
        font-size: 50px;
        margin-top: 70px;
        height: 3rem;
      }
    }
    .column {
      z-index: 10;
      display: flex;
      height: 60vh;
      @media screen and (max-width: 600px) {
        height: 32rem;
        flex-direction: column;
      }
      .col {
        width: 50%;
        padding: 0 2%;
        @media screen and (max-width: 600px) {
          width: auto;
        }
        @media screen and (max-width: 1000px),
        screen and (max-width: 600px) {
          padding: 2rem;
        }
        &.col-product {
          width: 300px;
          @media screen and (max-width: 1000px),
          screen and (max-width: 600px) {
            display: none;
          }
          img {
            &.product-image {
              height: 500px;
              width: auto;
              @media screen and (max-width: 1000px),
              screen and (max-width: 600px) {
                display: none;
              }
            }
          }
        }
        p {
          margin-bottom: 30px;
          @media screen and (max-width: 600px) {
            font-size: 20px;
          }
        }
        ul {
          list-style: square;
          margin-left: 25px;
          li {
            margin-bottom: 5px;
            @media screen and (max-width: 600px) {
              font-size: 20px;
            }
          }
        }
      }
    }
    span {
      width: 100%;
      z-index: 10;
      margin-top: 2rem;
      display: flex;
      justify-content: center;
      a {
        &.button-about {
          z-index: 11;
        }
      }
    }
  }
}