// SAMPLES

// kept if we want to use grid instead. 

// section {
//   &.section-samples {
//     height: 90vh;
//     width: 100%;
//     margin-top: 20px;
//     padding: 20px;
//     // background: yellow;
//   }
  
// .grid {
//     width: 90%;
//     justify-content: center;
//     display: grid;
//     // background: orange;
//     grid-template-columns: 100px 400px 400px 100px 100px;
//       .card {
//         margin-bottom: 30px;
//       }
//   }
// }
section { 
  &.section-samples {
    height: 100vh;
    background: @alert-color;
    padding-bottom: 3rem;
    @media screen and (max-width: 1000px),
    screen and (max-width: 600px) {
      height: 100%;
    }
    @media screen and (max-width: 600px) {
      padding-bottom: 2.5rem;
    }
    .grid {
      padding-top: 6rem;
      display: flex;
      width: 100%;
      height: auto;
      justify-content: space-evenly;
      flex-wrap: wrap;
      @media screen and (max-width: 600px) {
        flex-direction: column;
        align-items: center;
      }
      .card {
        padding: 10px;
        .sample-img {
          width: 100%;
          height: auto;
        }
        @media screen and (max-width: 1000px) {
          flex-basis: 47%;
        }
      }
    }
    span {
      display: flex;
      justify-content: space-around;
      margin-top: 3rem;
      @media screen and (max-width: 600px) {
        margin-top: 2rem;
      }
    }
  }
}