// SPOTLIGHT

section {
  &.section-spotlight {
    background: url("../images/disappointed-elderly-facepalm-23180.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    @media screen and (max-width: 600px) {
      background-size: contain;
      height: 55em;
    }
    background-position: center center;
    background-position-y: -80px;
    //opacity: .2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      z-index: 10;
      background-color: rgba(0, 0, 0, 0.5);
    }
    .spotlight-lead {
      text-align: center;
      z-index: 10;
      h2 {
        &.spotlight-title {
          margin-bottom: 10px;
          color: @primary-color;
          //text-shadow: 0 0 5px #000000;
          text-outline: 1px 1px #ffffff;
          @media screen and (max-width: 600px) {
            font-size: 2.5rem;
          }
        }
      }
      h3 {
        &.spotlight-subtitle {
          color: @light-color;
          font-size: 3rem;
          font-family: @font-sans, @font-family;
          @media screen and (max-width: 600px) {
            font-size: 2.5rem;
          }
        }
      }
    }
    .spotlight-image {
      overflow: hidden;
      width: 30%;
      order: -1;
      img {
        width: 100%;
        height: auto;
      }
    }
    span {
      z-index: 10;
      display: block;
      margin-top: 35px;
      a {
        &.button-spotlight {
          z-index: 11;
        }
      }
    }
  }
}